/**
 * @file
 * Stylesheet for the Embridge search form
 */

/* Basic layout */
.embridge-search-form .searchForm {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 0 1.5rem;
    padding: 1rem;
    background: #f6f6f6;
    box-shadow: 1px 2px 2px #d6d6d6;
    border-bottom: 2px solid #d6d6d6;
    border-radius: 2px 2px 0 0;
}

.embridge-search-form .searchForm span {
    display: block;
    font-weight: bold;
}

/* Field wrappers */
.embridge-search-form .form-item {
    display: inline-block;
    vertical-align: top;
}

/* Fields */
.embridge-search-form .form-item select,
.embridge-search-form .form-item input {
    width: 99%;
    height: 2rem;
}

/* Primary field layout */
.form-item-filename-op {
    width: 15%;
}

.form-item-filename {
    width: 70%;
}

.form-item-filename-op label,
.form-item-filename label {
    position: absolute;
    text-indent: -500em;
}

.form-item-filename input.form-text {
    padding: 0.4rem 0.5rem 0.3rem;
    font-size: 1rem;
}

/* Search button */
.embridge-search-form .searchForm .form-submit {
    width: 12%;
    position: absolute;
    right: 0.5rem;
    top: 2.75rem;
    padding: 0.4rem;
    font-size: 1rem;
}

/* More options */
.embridge-search-form .searchForm .collapse {
    margin: 0.5rem 0 0;
    padding: 0.5rem 0 0;
    border-top: 2px solid #d6d6d6;
}