/**
 * @file
 * Stylesheet for the Embridge search form
 */

/* Basic layout */
.embridge-search-form .search-form {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 0 1.5rem;
  padding: 1rem;
  background: #f6f6f6;
  box-shadow: 1px 2px 2px #d6d6d6;
  border-bottom: 2px solid #d6d6d6;
  border-radius: 2px 2px 0 0;
}

.embridge-search-form .search-form span {
  display: block;
  font-weight: bold;
}

/* Field wrappers */
.embridge-search-form .form-item {
  display: inline-block;
  vertical-align: top;
}

/* Fields */
.embridge-search-form .form-item select,
.embridge-search-form .form-item input {
  width: 99%;
  height: 2rem;
}

/* Primary field layout */
.form-item-filename-op {
  width: 15%;
}

.form-item-filename {
  width: 70%;
}

.form-item-filename-op label,
.form-item-filename label {
  position: absolute;
  text-indent: -500em;
}

.form-item-filename input.form-text {
  padding: 0.4rem 0.5rem 0.3rem;
  font-size: 1rem;
}

/* Search button */
.embridge-search-form .search-form .form-submit {
  width: 12%;
  position: absolute;
  right: 0.5rem;
  top: 2.75rem;
  padding: 0.4rem;
  font-size: 1rem;
}

/* More options */
.embridge-search-form .search-form .collapse {
  margin: 0.5rem 0 0;
  padding: 0.5rem 0 0;
  border-top: 2px solid #d6d6d6;
}

/* Search result tiles */
.embridge-choose-file {
  display: inline-block;
  height: 200px;
  width: 200px;
  margin: 0 0.25rem 0.5rem 0;
  padding: 0.75rem;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #d6d6d6;
  border-radius: 4px;
  box-shadow: 1px 2px 3px #d6d6d6;
}

.embridge-choose-file:hover,
.embridge-choose-file:focus,
.embridge-choose-file:active {
  margin: 0.1rem 0.15rem 0.4rem 0.1rem;
  box-shadow: none;
  background: #eeeeee;
}

.embridge-choose-file:focus,
.embridge-choose-file:active {
  background: #0074bd;
}

.hidden-button.button {
  display: none;
}

.pagination {
  text-align: center;
  padding: 0.5rem 1.75rem 0.5rem 0;
}

/* Temp until wizard button wrapping markup updated */
.embridge-search-form .button--primary {
  float: left;
  clear: both;
  margin: 1.25rem 0 0.25rem;
}
