{#
/**
 * @file
 * Default theme implementation for a list of embridge search results.
 *
 * Available variables:
 * - results: The array of results
 *
 * @see template_preprocess_embridge_search_results()
 *
 * @ingroup themeable
 */
#}
<ul>
    {% for result in results %}
       <li>{{ result.name }}</li>
    {% endfor %}
</ul>
