{#
/**
 * @file
 * Default theme implementation for a list of embridge search results.
 *
 * Available variables:
 * - results: The array of results
 *
 * @see template_preprocess_embridge_search_results()
 *
 * @ingroup themeable
 */
#}
<div>
{% for entity_id, image in results %}
    <a href="#" class="embridge-choose-file" data-asset-entity-id="{{ entity_id  }}">{{ image }}</a>
{% endfor %}
</div>
