{#
/**
 * @file embridge_asset_entity.html.twig
 * Default theme implementation to present Embridge asset entity data.
 *
 * This template is used when viewing Embridge asset entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_embridge_asset_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('embridge_asset_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
