/* CKEditor plugin dialog */

.ui-dialog.embridge-ckeditor-image-dialog {
  max-width: 750px;
}

form > [id^="ajax-wrapper"] {
  float: left;
  width: 250px;
  margin-right: 30px;
  position: relative;
}
.form-type-embridge-asset .form-file {
  margin: 0.5rem 0 0;
  border: none;
}

.form-type-embridge-asset [id^="edit-asset-search"] {
  margin-left: 0;
  margin-top: 0.75rem;
}

.form-type-embridge-asset img {
  display: block;
  margin: 0 0.25rem 0.5rem 0;
  padding: 0.75rem;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #d6d6d6;
  border-radius: 4px;
  box-shadow: 1px 2px 3px #d6d6d6;
}
.form-type-embridge-asset span.file {
  display: inline-block;
}

.image-attributes {
  display: block;
  margin-left: 280px;
}

